@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes thumbnail {
  to {
    transform: translateX(0);
  }
}
@keyframes thumbnail {
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes showThumbnail {
  to {
    width: 150px;
  }
}
@keyframes showThumbnail {
  to {
    width: 150px;
  }
}
@-webkit-keyframes showimage {
  to {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
}
@keyframes showimage {
  to {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
}
@-webkit-keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes outContent {
  to {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
  }
}
@keyframes outContent {
  to {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
  }
}
@-webkit-keyframes outImage {
  to {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 150px;
    height: 220px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.727));
  }
}
@keyframes outImage {
  to {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 150px;
    height: 220px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.727));
  }
}
@-webkit-keyframes showTime {
  to {
    width: 0;
  }
}
@keyframes showTime {
  to {
    width: 0;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #eee;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  width: 1140px;
  max-width: 80%;
  height: 50px;
  margin: auto;
  z-index: 100;
  position: relative;
}
header a {
  color: #eee;
  position: relative;
  margin-right: 40px;
}
header a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0%;
  border-bottom: solid 2px #eee;
  transition: width 250ms ease-in-out;
}
header a:hover:after {
  width: 102%;
}

.background {
  margin-top: -50px;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.background .list .item {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background .list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background .list .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
}
.background .list .content .author {
  letter-spacing: 10px;
  font-weight: bold;
}
.background .list .content .topic {
  color: #f1683a;
}
.background .list .content .topic, .background .list .content .title {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
}
.background .list .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  font-family: "Poppins", sans-serif;
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.background .list .content .buttons button {
  background-color: #eee;
  letter-spacing: 3px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.background .list .content .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* thumbail */
.background .thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.background .thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.background .thumbnail .item:hover {
  transform: scale(1.05);
}
.background .thumbnail .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.727));
}
.background .thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 1em;
}
.background .thumbnail .item .content .title {
  font-weight: 500;
}
.background .thumbnail .item .content .description {
  font-weight: 300;
}

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 100;
}
.arrows button {
  width: 40px;
  height: 40px;
  background: rgba(238, 238, 238, 0.2666666667);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: large;
  font-family: monospace;
  transition: 0.4s;
  cursor: pointer;
}
.arrows button:hover {
  background: #eee;
  color: #555;
}

.background .list .item:nth-child(1) {
  z-index: 1;
}
.background .list .item:nth-child(1) .author, .background .list .item:nth-child(1) .title, .background .list .item:nth-child(1) .topic, .background .list .item:nth-child(1) .desc, .background .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.4s 1s ease-in-out 1 forwards;
          animation: showContent 0.4s 1s ease-in-out 1 forwards;
}
.background .list .item:nth-child(1) .title {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.background .list .item:nth-child(1) .topic {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.background .list .item:nth-child(1) .desc {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.background .list .item:nth-child(1) .buttons {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.background.next .list .item:nth-child(1) img {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 150px;
  height: 220px;
  border-radius: 20px;
  -webkit-animation: showimage 0.4s ease-in-out forwards;
          animation: showimage 0.4s ease-in-out forwards;
}

.background.next .thumbnail {
  transform: translateX(150px);
  -webkit-animation: thumbnail 0.4s ease-in-out forwards;
          animation: thumbnail 0.4s ease-in-out forwards;
}
.background.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  -webkit-animation: showThumbnail 0.4s ease-in-out forwards;
          animation: showThumbnail 0.4s ease-in-out forwards;
}

.background.prev .list .item:nth-child(2) {
  z-index: 2;
}
.background.prev .list .item:nth-child(2) img {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: outImage 0.4s ease-in-out forwards;
          animation: outImage 0.4s ease-in-out forwards;
}

.background.prev .thumbnail .item:nth-child(1) {
  width: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: showThumbnail 0.4s ease-in-out forwards;
          animation: showThumbnail 0.4s ease-in-out forwards;
}

.background .list .item:nth-child(2) .author, .background .list .item:nth-child(2) .title, .background .list .item:nth-child(2) .topic, .background .list .item:nth-child(2) .desc, .background .list .item:nth-child(2) .buttons {
  -webkit-animation: outContent 0.4s 1s ease-in-out 1 forwards;
          animation: outContent 0.4s 1s ease-in-out 1 forwards;
}

.background.next .thumbnail, .background.prev .thumbnail {
  pointer-events: none;
}
.background.next .arrows button, .background.prev .arrows button {
  pointer-events: none;
}
.background.next .time, .background.prev .time {
  width: 100%;
  -webkit-animation: showTime 2s ease-in-out forwards;
          animation: showTime 2s ease-in-out forwards;
}

.time {
  position: absolute;
  height: 3px;
  width: 0%;
  background: #f1683a;
  z-index: 100;
}

@media screen and (max-width: 678px) {
  .background .list .item .content {
    padding-right: 0;
  }
  .background .list .item .content .title {
    font-size: 30px;
  }
}
/*# sourceMappingURL=main.css.map */